@import "tailwindcss";
html {
  scroll-behavior: smooth !important;
}

/* .swiper-button-prev ,
.swiper-button-next {
    background-color: red;
    display: block !important;
} */

.swiper {
  height: 200px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: initial !important;
}

.swiper-slide{
    margin-top: 50px !important;
}
